
html(lang="en")
  include head
  body
    include header
    .wrapper
      h1 Choose a chart
      .charts
        a.chart(href="/build/chart",style="background-image: url(http://upload.wikimedia.org/wikipedia/en/5/5d/Schoolboy-q-oxymoron-deluxecover.jpg)")
          .chart__footer
            h4.chart__title Schoolboy Q - Oxymoron
        a.chart(href="/build/chart",style="background-image: url(http://stupiddope.com/wp-content/uploads/2014/01/mastermind-deluxe.jpg)")
          .chart__footer
            h4.chart__title Rick Ross - Mastermind
        a.chart(href="/build/chart",style="background-image: url(http://mariahcareycollection.com/blog/M/MFDoom/MFDoom-MmFood/mfdoom-mmfood.png)")
          .chart__footer
            h4.chart__title MF DOOM - MM.. Food
        a.chart(href="/build/chart",style="background-image: url(http://cdn.hiphopdx.com/images/Earl.S.554.jpg)")
          .chart__footer
            h4.chart__title Earl Sweatshirt - Doris