
html(lang="en")
  include head
  body

    include header
    .wrapper
      .container
        .list(id="list")
          .content
            header.content__header
              .widget(id="player")
                .widget__cover(style="background-image: url(http://cdn.hiphopdx.com/images/schoolboy-q-oxymoron-deluxecover.jpg)")
                .widget__control(id="player-control")
                .widget__content
                  .product
                    .product__thumb(style="background-image: url(http://cdn.hiphopdx.com/images/schoolboy-q-oxymoron-deluxecover.jpg)")
                    .product__content
                      .product__subtitle Schoolboy Q
                      .product__title Break The Bank
                    .product__action
                      a(href="#")
                        i.fa.fa-shopping-cart.product__cart
                        | Buy
          .list__items
            .item(data-ext="--first")
              .item__count 1
              //- .item__thumb(style="background-image: url(http://www.theawl.com/wp-content/uploads/2011/10/stankonia.jpg)")
              .item__body
                h3.item__title Break The Bank
                //- h4.item__subtitle Stankonia
            .item(data-ext="--second")
              .item__count 2
              //- .item__thumb(style="background-image: url(http://according2hiphop.com/wp-content/uploads/2012/02/album-aquemini.jpg)")
              .item__body
                h3.item__title Blind Threats
                //- h4.item__subtitle Aquemini
            .item(data-ext="--third")
              .item__count 3
              //- .item__thumb(style="background-image: url(http://www.xxlmag.com/wp-content/uploads/2013/09/61s0JZKGbeL.jpg)")
              .item__body
                h3.item__title The Purge
                //- h4.item__subtitle Aquemini
            .item(data-ext="--fourth")
              .item__count 4
              //- .item__thumb(style="background-image: url(http://raphappily.files.wordpress.com/2012/03/cover1.jpg)")
              .item__body
                h3.item__title Los Awesome
                //- h4.item__subtitle ATLiens
            .item(data-ext="--fifth")
              .item__count 5
              //- .item__thumb(style="background-image: url(http://according2hiphop.com/wp-content/uploads/2012/02/album-aquemini.jpg)")
              .item__body
                h3.item__title What They Want
                //- h4.item__subtitle Aquemini
