
html(lang="en")
  include head
  body
    include header
    .wrapper  
      form(id="login")
        label Email address
        input(type="text")
        label Username
        input(type="text")
        label Password
        input(type="text")
        input(type="submit", value="Login").btn.btn--primary