
html(lang="en")
  include head
  body
    include header
    .wrapper
      h1 Register
      form
        label Email address
        input(type=text)
        label Username
        input(type=text)
        label Password
        input(type=text)
      .actions
        a.btn.btn--primary(href="/u/username") Create your account
