
html(lang="en")
  head
    title Hipcharts
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no")
    link(rel="stylesheet",href="/css/font-awesome.min.css")
    link(rel="stylesheet",href="/css/styles.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="/js/frontend.js")
  body

    include header
    h2.header__title has created 8 Charts
    .wrapper
      .charts
        a.chart(href="/list",style="background-image: url(http://upload.wikimedia.org/wikipedia/en/5/5d/Schoolboy-q-oxymoron-deluxecover.jpg)")
          .chart__footer
            h4.chart__title Schoolboy Q - Oxymoron
        a.chart(href="/list",style="background-image: url(http://stupiddope.com/wp-content/uploads/2014/01/mastermind-deluxe.jpg)")
          .chart__footer
            h4.chart__title Rick Ross - Mastermind
        a.chart(href="/list",style="background-image: url(http://mariahcareycollection.com/blog/M/MFDoom/MFDoom-MmFood/mfdoom-mmfood.png)")
          .chart__footer
            h4.chart__title MF DOOM - MM.. Food
        a.chart(href="/list",style="background-image: url(http://cdn.hiphopdx.com/images/Earl.S.554.jpg)")
          .chart__footer
            h4.chart__title Earl Sweatshirt - Doris