
@-webkit-keyframes playThrough {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(360px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background-color: #D9D9D9;
}

a {
  color: #999;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 15px;
}

.title {
  margin-bottom: 15px;
  font-weight: normal;
}

.list {
  width: 95%;
  position: relative;
  margin: 0 auto;
  max-width: 420px;
  max-height: 500px;
  height: 100vh;
  background-color: #333;
  overflow: hidden;
}

.list__content {
  height: 100%;
  width: 100%;
  padding: 15px;
  color: #bbb;
  padding-top: calc(20% + 30px);
  position: absolute;
  opacity: 0;
  -webkit-transform: scale(0.95);
  -webkit-transition: all 0.2s ease;
}

.list__items {
  height: 100%;
}

.item {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: #fff;
  -webkit-backface-visiblity: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transform: translateZ(0);
  -webkit-transition: -webkit-transform 0.25s ease;
  cursor: pointer;
  border-top: 1px solid #ddd;
}

.item:before {
  margin-right: 15px;
  order: 4;
  font-family: 'FontAwesome';
  content: "\f067";
  display: block;
  font-size: 14px;
  color: #ddd;
  -webkit-transition: all 0.25s ease;
}

.item--active:before {
  content: "\f068";
}

.item:hover:before {
  color: #999;
}

.item__count::selection,
.item__title::selection,
.item__subtitle::selection {
  background: transparent;
}

.item:first-child {
  border-top: 0;
}

.item:nth-child(2) {
  top: 20%;
}

.item:nth-child(3) {
  top: 40%;
}

.item:nth-child(4) {
  top: 60%;
}
.item:nth-child(5) {
  top: 80%;
}

.list--first .list__content,
.list--second .list__content,
.list--third .list__content,
.list--fourth .list__content,
.list--fifth .list__content {
  opacity: 1;
  -webkit-transform: scale(1);
}

/* First one */

.list--first .item:nth-child(2),
.list--first .item:nth-child(3),
.list--first .item:nth-child(4),
.list--first .item:nth-child(5) {
  -webkit-transform: translateY(400%);
}

/* Second one */
.list--second .item:nth-child(1),
.list--second .item:nth-child(2) {
  -webkit-transform: translateY(-100%);
}

.list--second .item:nth-child(3),
.list--second .item:nth-child(4),
.list--second .item:nth-child(5) {
  -webkit-transform: translateY(300%);
}

/* Third one */
.list--third .item:nth-child(1),
.list--third .item:nth-child(2),
.list--third .item:nth-child(3) {
  -webkit-transform: translateY(-200%);
}

.list--third .item:nth-child(4),
.list--third .item:nth-child(5) {
  -webkit-transform: translateY(200%);
}

/* Fourth one */
.list--fourth .item:nth-child(1),
.list--fourth .item:nth-child(2),
.list--fourth .item:nth-child(3),
.list--fourth .item:nth-child(4) {
  -webkit-transform: translateY(-300%);
}

.list--fourth .item:nth-child(5) {
  -webkit-transform: translateY(100%);
}

/* Fifth one */
.list--fifth .item:nth-child(1),
.list--fifth .item:nth-child(2),
.list--fifth .item:nth-child(3),
.list--fifth .item:nth-child(4),
.list--fifth .item:nth-child(5) {
  -webkit-transform: translateY(-400%);
}

.item__count {
  width: 50px;
  text-align: center;
  font-size: 32px;
  color: #999;
  transition: color 0.25s ease;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F3F3F3;
  border-right: 1px solid #ddd;
  margin-right: 15px;
}

.item__thumb {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-color: #ddd;
}

.item__body {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.item__title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 1;
}

.item__subtitle {
  font-weight: normal;
  color: #999;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.chart {
  flex-basis: 100%;
  height: 240px;
  background-color: #ccc;
  margin-bottom: 15px;
}

.widget {
  margin-bottom: 15px;
}

.widget__body {
  height: 200px;
  display: flex;
  align-items: flex-end;
  background-color: #000;
  position: relative;
}

.widget__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.25;
  background-position: center;
}

.widget__content {
  flex: 1;
  padding: 15px;
  position: relative;
  z-index: 10;
}

.widget__footer {
  height: 40px;
  background-color: #fff;
}

.product {
  display: flex;
  flex: 1;
  align-items: center;
  color: #fff;
}

.product__content {
  flex: 1;
  padding: 0 15px;
}

.product__thumb {
  width: 50px;
  height: 50px;
  background-size: cover;
}

.product__subtitle {
  font-size: 12px;
}

.product__cart {
  margin-right: 10px;
}

.scrubber {
  position: relative;
  height: 100%;
}

.scrubber__bar {
  height: 2px;
  position: absolute;
  width: calc(100% - 30px);
  left: 15px;
  top: calc(50% - 1px);
  background-color: #999;
}

.scrubber__control {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  z-index: 10;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
}

.scrubber__control:before {
  display: block;
  content: "\f04b";
  font-family: 'FontAwesome';
  font-size: 8px;
  color: #ccc;
  transition: color 0.2s ease
}

.scrubber__control:hover:before {
  color: #fff;
}

.scrubber__control:before::selection {
  background: transparent;
}

.widget--playing .scrubber__control {
  -webkit-animation: playThrough 180s ease forwards;
}

.widget--playing .scrubber__control:before {
  content: "\f04d";
}

@media only screen and (min-width: 768px) {

  .chart {
    flex-basis: 240px;
  }

}